<footer style = "height: 10vh;" class = "d-flex bg-danger align-items-center justify-content-around px-5">
  <div class="contact-info">
    <h3 class ="text-light">Contact Info</h3>
    <ul >
      <p>Email: groupemail@supermail.com</p>
      <p>Phone: +1 (123) 123-1234</p>
    </ul>
  </div>
  <p class="copyright">© 2021 <a href="#">Team Project 2021.</a> All rights reserved.</p>
</footer>