.contact-info {
  height: min-content;
  display: flex;
  flex-direction: column;
}

.contact-info p,
.contact-info h3,
.contact-info ul {
  margin: 0;
}

.copyright {
  margin: 0;
}

.contact-info li {
  width: 300px;
}